@charset "UTF-8";
/* COLORS & BACKGROUNDS */
.white-text {
  color: #fff !important;
}

body.hover-color1 .layout .section,
body.hover-color1 .layout .section-hero-home,
body.hover-color1 .navigation.sticky-nav.w-nav {
  background-color: #e6f3ff !important;
}

body.hover-color2 .layout .section,
body.hover-color2 .navigation.sticky-nav.w-nav {
  background-color: #bdbeca !important;
}

body.hover-color3 .layout .section,
body.hover-color3 .navigation.sticky-nav.w-nav,
body.hover-color3 .link-holder.bg-gray {
  background-color: #e2f1ff !important;
}

body.hover-color1,
body.hover-color2,
body.hover-color3 {
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

body.hover-color1 .layout,
body.hover-color2 .layout,
body.hover-color3 .layout {
  background: transparent !important;
}

body.hover-color1 .section,
body.hover-color2 .section,
body.hover-color3 .section {
  background: transparent !important;
}

/* BUTTON & LINK STYLES */
a.link {
  position: relative;
  border-bottom: 2px solid #254fba;
  background-image: linear-gradient(120deg, #dce6ff 0%, #dce6ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.0em;
  background-position: 0 100%;
  -webkit-transition: background-size 0.125s ease-in;
  transition: background-size 0.125s ease-in;
}

a.link:hover {
  color: #333 !important;
  border-color: #254fba !important;
  background-size: 100% 100%;
}

.contact-link {
  position: relative;
  background-image: linear-gradient(120deg, #dce6ff 0%, #dce6ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.0em;
  background-position: 0 100%;
  -webkit-transition: background-size 0.125s ease-in;
  transition: background-size 0.125s ease-in;
}

.contact-link:hover {
  color: #333 !important;
  background-size: 100% 100%;
}

.cta-link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  display: inline-block;
}

.cta-link:hover:before, .cta-link:hover:after {
  width: 100%;
  opacity: 1;
}

.cta-link:before, .cta-link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
  opacity: 0;
  background-color: #2146a5;
}

.next-project h3 {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  display: inline-block;
}

.next-project h3:before, .next-project h3:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
  opacity: 0;
  background-color: #2146a5;
}

.next-project:hover h3:before, .next-project:hover h3:after {
  width: 100%;
  opacity: 1;
}

.highlight::after {
  content: '';
  display: block;
  top: 40px;
  bottom: 20px;
  left: -10px;
  right: -15px;
  background: rgba(37, 79, 186, 0.2) !important;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .highlight::after {
    top: 30px;
    left: -5px;
    right: -10px;
  }
}

.sidebar h3::after,
.after-heading::after {
  content: " — ";
  display: inline-block;
  padding-left: .2em;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scaleX(1.5) translateY(-0.1em);
  transform: scaleX(1.5) translateY(-0.1em);
}

/* NEXT PROJECT STYLES */
.section.next-project {
  -webkit-transition: .4s;
  transition: .4s;
}

.section.next-project::before {
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #254fba !important;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
}

/* PORTFOLIO TILE STYLES */
.tile-link:not(.coming-soon) {
  background-size: cover;
  background-position: center center;
}

.tile-link:not(.coming-soon):hover .tile-text-content h2 {
  text-decoration: underline;
  color: #254fba;
}

.tile-link .thumb-img {
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tile-link:hover .thumb-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section {
  background-color: #fff !important;
}

.eapg-photo-gallery-component.jsx-3104683367:nth-child(2) {
  display: none;
}
/*# sourceMappingURL=style.css.map */